<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite">
    <test name="test">
        <!--
        <listeners>
            <listener class-name="net.sf.testng.databinding.TestAnnotationTransformer"/>
        </listeners>  -->

        <classes>
          <!--  <class name="com.versonix.seaware.OTAapi.SingltonCalls">  -->
            <class name="com.versonix.seaware.OTAapi.SingltonCalls">
            </class>
        </classes>
    </test>
</suite>